
{{#partial "title"}}

{{/partial}}

{{#partial "content"}}
    <div class="col-md-1"></div>
    <div class="card col-md-10" style="margin-top: 40px">
        <p class="card-title" id="hero-text">Welcome to the hero-squad web application.</p>
        <p class="card-text" id="text-squads"> Here you have the ability to create your own custom heroes and add them to the squad of your choosing.</p>
        <a href="/squads/new" class="btn btn-outline-success col-md-6"> Create your own squad Now!!</a>
        <br>
    </div>
    <h1 id="ordertag">Some of the heroes we've registered!!!</h1>
    <br><br>
    <div class="row">
        <div class="columnod">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/images/images.jpg" alt="" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h2>Hero one:</h2>
                        <h4>Spider-man.</h4>
                        <p>Strength: Weaves webs for catching bad guys</p>
                        <p>Weakness: Low strength level!!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnod">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/images/blackwidow.jpeg" alt="" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h2>Hero two:</h2>
                        <h4>Black-widow.</h4>
                        <p>Strength: Great fighting skills.</p>
                        <p>Weakness: Lacks special super power abilities.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnod">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/images/greenarrow.png" alt="" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h2>Hero three:</h2>
                        <h4>Green Arrow.</h4>
                        <p>Strength: His prowess with the bow and arrow is unmatched.</p>
                        <p>Weakness: Lacks training in combat fighting.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <div class="row">
        <div class="columnod">
            <div class="flip-box">
                <div class="flip-box-inner ">
                    <div class="flip-box-front ">
                        <img src="/images/download.jpg" alt=" " style="width:300px;height:200px ">
                    </div>
                    <div class="flip-box-back ">
                        <h2>Hero four:</h2>
                        <h4>Thor.</h4>
                        <p>Strength: Harnesses the power of lightning in combat!!</p>
                        <p>Weakness: NIL</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="columnod">
            <div class="flip-box ">
                <div class="flip-box-inner ">
                    <div class="flip-box-front ">
                        <img src="/images/bluebeetle.jpeg " alt=" " style="width:300px;height:200px ">
                    </div>
                    <div class="flip-box-back ">
                        <h2>Hero five:</h2>
                        <h4>Blue Beetle.</h4>
                        <p>Strength: Ability to generate multiple constructs from his scarab.</p>
                        <p>Weakness: Vulnerable to mystic energy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnod">
            <div class="flip-box ">
                <div class="flip-box-inner ">
                    <div class="flip-box-front ">
                        <img src="/images/8TE6aBzqc.jpg " alt="Paris " style="width:300px;height:200px ">
                    </div>
                    <div class="flip-box-back ">
                        <h2>Hero six:</h2>
                        <h4>Sam King.</h4>
                        <p>Strength: Very smart, handsome and everything in between!!!</p>
                        <p>Weakness: NIL to none.</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{/partial}}

{{> layout.hbs}}