{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">

    <style>


<header class="nav-bar">
    <ul class="nav nav-tabs">
        <a href="/" class="nav nav-items nav-link">Home</a>
        <a href="/squads" class="nav nav-items nav-link">Squads</a>
        <a href="/heroes" class="nav nav-items nav-link">Heroes</a>
    </ul>
            {{#block "content"}}
            {{/block}}
        </div>
    </div>

</div>
{{#block "footer"}}
    </body>
    </html>
{{/block}}